<form class="" action="/login" method="post">
  <fieldset>
    <legend>Log into your account</legend>
    <!-- Username -->
    <p>
      <label for="title">Username</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="desc">Password</label><br>
      <input type="text" name="desc" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Login</button>
  </p>

</form>
