<form class="" action="/sign-up" method="post">
  <fieldset>
    <legend>Create an account</legend>
    <!-- Email -->
    <p>
      <label for="email">Email</label><br>
      <input type="text" name="email" />
    </p>
    <p>
      <label for="password">Password</label><br>
      <input type="text" name="password" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Sign up</button>
  </p>

</form>
